@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Fira+Code');
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
    background: #fff;
  }
}

pre,
code {
  font-family: 'Fira Code', monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inter var', sans-serif;
  margin-bottom: 0;
}

p,
a {
  font-family: 'Inter var', sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 0;
  text-decoration: none;
  color: inherit;
}
